extends layout

block content
    head
        title PWNZchat

    body
        script.
            const nickname = "#{user.nickname}";
            const token = "#{user.token}";
            localStorage.setItem('JWT', token);
        script(src="/socket.io/socket.io.js")
        script(src="/scripts/chat.js")

        h1 Welcome, #{user.nickname}
        p You are logged in.
        p Your token is: #{user.token}
        form(action="/room" method="get")
            button.btn.btn-primary(type="submit") Rooms
        p
        form(action="/dialog" method="get")
            button.btn.btn-primary(type="submit") Dialogs
        p
        form(action="/logout" method="post")
            button.btn.btn-primary(type="submit") Logout

        p
        h1 Chat
        .alert.alert-info
            | State:
            span(data-status)
        p

        #content(style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;")
        form#form(action='', onsubmit='return false')
            input#field(style="width:350px;" required autofocus)
            button.btn.btn-primary#send(type="submit") Send

        form(name='upload')
            input(type='file', name='file')
            button.btn.btn-primary(type='submit') Upload

        script.
            'use strict';

            document.forms.upload.onsubmit = function () {
                const file = this.elements.file.files[0];

                if (!file) return false;

                const xhr = new XMLHttpRequest();
                xhr.onload = xhr.onerror = function () {
                    if (this.status === 200) {
                        alert("success");
                    } else {
                        alert("error " + this.status + ' ' + this.responseText);
                    }
                };

                xhr.open("POST", `files/${file.name}`, true);
                xhr.send(file);

                return false;
            };
